@import './Screens/TopBar/TopBarDesigns.scss';
@import './Screens/SideBar/SideBarDesigns.scss';


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: beige;
}

.activeValues {
    color: 'red' !important
}